{% extends "layout.html" %}

{% block title %}
    Change order
{% endblock %}

{% block main %}

{% with flash_messages = get_flashed_messages() %}
{% if flash_messages %}
    <div class="flash-message">
        {% for message in flash_messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

    <div class="mb-3">
        <form action="/change_order" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="reference" name="reference" placeholder="Reference" type="text">
        <button class="btn btn-primary" type="submit" name="lookup">Change order</button>
        </form>
    </div>

    {% if result %}
    <div class="card container d-flex align-items-center justify-content-center">
        <div class="card-body">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Surname</th>
                        <th>Bread</th>
                        <th>Quantity</th>
                        <th>reference</th>
                        <th>email</th>
                        <th>date_for_order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for single_result in result %}
                        <tr>
                            <td>{{ single_result.firstname }}</td>
                            <td>{{ single_result.surname }}</td>
                            <td>{{ single_result.bread }}</td>
                            <td>{{ single_result.quantity }}</td>
                            <td>{{ single_result.reference }}</td>
                            <td>{{ single_result.email }}</td>
                            <td>{{ single_result.date_for_order }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card container d-flex align-items-center justify-content-center">
        <div class="card-body">
            <h5 class="card-title">Change order</h5>
              <form action="/change_order" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <label for="symbol">Typ chleba:</label>
                    <select class="form-control" id="chleba" name="chleba" type="text">
                        <option value="">Typ chleba:</option>
                        <option value="Chleba 1" {% if selected_option == 'chleba1' %}selected{% endif %}>Chleba 1</option>
                        <option value="Chleba 2" {% if selected_option == 'chleba2' %}selected{% endif %}>Chleba 2</option>
                        <option value="Chleba 3" {% if selected_option == 'chleba3' %}selected{% endif %}>Chleba 3</option>
                    </select>
                    <input class="form-control mx-auto w-auto" id="quantity" name="quantity" placeholder="quantity" type="number">
                </div>
                    <div>
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="firstname" type="text">
                        <input class="form-control mx-auto w-auto" id="surname" name="surname" placeholder="surname" type="text">
                        <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="email" type="text">
                        <div class="md-form md-outline input-with-post-icon datepicker" inline="true">
                            <input placeholder="Select date" type="text" id="date_for_order" name="date_for_order" class="form-control">
                            <i class="fas fa-calendar input-prefix"></i>
                        </div>
                        <input type ="hidden" name="reference" value="{{ reference }}">
                        <button class="btn btn-primary" type="submit" name="make_change">Adjust order</button>
                    </div>
                </form>
        </div>
    </div>

    <script>
        function validateForm() {
            var emailInput = document.getElementById('email');
            var emailValue = emailInput.value;

            // Check if the email input is filled in before performing validation
            if (emailValue.trim() !== '') {
                if (!emailValue.includes('@')) {
                    alert('Please enter a valid email address');
                    return false;
                }
            }

            // Other validation logic or actions can go here

            return true;
        }
    </script>
    {% endif %}

{% endblock %}
