{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

    <div class="container">
        <div class="card container d-flex align-items-center justify-content-center">
            <div class="card-body">
                <h5 class="card-title">Objednej chleba</h5>
                <p class="card-text">Chceš si zajistit výborný lokální chleba k vyzvednutí?</p>
                <a href="/preorder" class="btn btn-primary">Objednat</a>
            </div>
        </div>
    </div>

{% endblock %}
